@import '../../../vars';

div.total-score-container {
  text-align: center;
  h1.title {
    color: $light-grey;
    font-weight: lighter;
    display: inline-block;
    width: fit-content;
    @include responsive-padding(0, 3rem, 0, 1.5rem, 0.5);
    @include medium-font;
    &.active {
      color: $dark-grey;
    }
    &.winner {
      color: $red;
    }
    position: relative;
  }
  div.red-dot {
    display: inline-block;
    background-color: $red;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include responsive-size(1rem, 1rem, 0.5);
  }
  div.score {
    color: $red;
    font-weight: lighter;
    @include huge-font;
  }
}
