@import '../../../common/vars';
button.button {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 3rem;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  white-space: nowrap;
  &:enabled {
    cursor: pointer;
    &:hover {
      font-weight: bold;
      & img {
        margin: 0 30px 0 0;
      }
    }
  }
  img {
    height: 80%;
    margin: 0 20px 0 0;
    transition: 0.2s;
  }
  span {
    display: inline-block;
    width: fit-content;
  }
}
