@import '../../common/vars';

.controls {
  width: 100%;
  height: 100%;
  grid-column: 8/10;
  grid-row: 2/-2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(16, 1fr);
  align-items: center;
  justify-items: center;
}
