//colors - for the option to quickly add themes later (node-sass library)
$red: RGB(255, 0, 0);
$light-red: RGB(256, 50, 50);
$dark-red: RGB(236, 0, 0);
$light-grey: RGB(150, 150, 150);
$lighter-grey: RGB(220, 220, 220);
$lightest-grey: RGB(245, 245, 245);
$dark-grey: RGB(50, 50, 50);
$black: RGB(0, 0, 0);
$white: RGB(255, 255, 255);
