@import '../../../common/vars';
$die-size: 10rem;

.die {
  display: inline-block;
  margin: 30px 0;
  width: $die-size;
  height: $die-size;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  filter: drop-shadow(0 0 10px $lighter-grey);
}
